<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770658000761-ivls0tpo249qgn6jbrp0c83v7qs2im1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770658000761-ivls0tpo249qgn6jbrp0c83v7qs2im1v</string>
	<key>API_KEY</key>
	<string>AIzaSyBP6Wn3yypdrcySOSJ-DzFSB8NtphsSrQI</string>
	<key>GCM_SENDER_ID</key>
	<string>770658000761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-bb616</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bb616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770658000761:ios:b24b49cc83668803e7d9a8</string>
</dict>
</plist>